<div>{{testdataAsPromise.data.data[0].price}}

{{keyss}}
    <nav>
                        <a routerLink="">Главная</a>
                        <a routerLink="/about">О сайте</a>
                        <a [routerLink]="['currency', '5']">item 5</a>
                    </nav>
               </div>
               
<h1 translate>Title</h1>


        <h3>{{ 'Change language' | translate:lang }}</h3>

        <button (click)="selectLanguage('en');">English</button>
        <button (click)="selectLanguage('it');">Italiano</button>
        
    <div class="navbar navbar main-navbar" role="navigation">
      <div class="container container-header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="./assets/img/logo.svg" width="132"></a>
        </div>
        <div class="col-md-6">
           <div class="row summary-block-top">
            <div class="col-md-4">Market cap<br><h3>${{coindataAsPromise.data.total_market_cap_usd / 1000000000 | number:'1.0-0' }}B</h3></div>
            <div class="col-md-4">24H volume<br><h3>${{coindataAsPromise.data.total_24h_volume_usd / 1000000000 | number:'1.0-0' }}B</h3></div>
            <div class="col-md-4">BTC dominance<br><h3>${{coindataAsPromise.data.bitcoin_percentage_of_market_cap | number:'1.0-0' }}B</h3></div>
          </div>
       </div>
        <div class="navbar navbar-service pull-right">
          <ul class="nav navbar-nav">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control search-control" placeholder="Search coins">
              </div>
              <i class="icon-search form-control-search"></i>
            </form>
          </ul>
        </div><!--/.nav-collapse -->
      <div class="navbar-header-mobile">
          <div class="mobile-menu" onclick="$('.mobile-menu-main').fadeIn(300);">
                  <img src="./assets/img/menu.svg">
          </div>
          <a class="navbar-brand" href="#"><img src="./assets/img/logo.svg" width="132"></a>

            <form class="navbar-form navbar-form-search navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control search-control" placeholder="Search coins">
              </div>
              <i class="icon-search form-control-search"></i>
            </form>
        </div>
      </div>
    </div>


    <div class="container container-element-page" role="main">

	      <h1>{{title}}</h1>

	      <div class="navbar navbar-main-block">
	        <div class="container">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	          </div>
	          <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	              <li><a href="#">Growing</a></li>
	              <li class="active"><a href="#">Falling</a></li>
	              <li><a href="#">Arbitrage</a></li>
	              <li><a href="#">Exchanges</a></li>
	              <li><a href="#">Calculator</a></li>
	              <li><a href="#">Forum</a></li>
	              <li><a href="#">Portfolio</a></li>
	              <li><a href="#">Alerts</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>

   		<router-outlet></router-outlet>

   	</div>

    <div class="container">
      <footer>
        <p class="pull-right"><span class="last-update">Last updated: Aug 28, 2017 6:50 PM UTC</span><a href="#">Back to top</a></p>
        <p>© 2017 AllCoinStat  <a href="#">About</a>  <a href="#">Advertise</a>  <a href="#">FAQ</a>  <a href="#">Reques Form</a>  <!-- Dropup button -->
            <div class="dropup">
              <button class="btn btn-languages dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change language
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">RU</a></li>
                <li><a href="#">EN</a></li>
              </ul>
            </div>
      </footer>
  </div>
     
  <div class="mobile-menu-main">
    <div class="close-link" onclick="$('.mobile-menu-main').fadeOut(300);"></div>
    <div class="mobile-row-cell">
      <a href="/"><img src="./assets/img/logo.svg" class="LOGO"></a>
    </div>
  </div>