                   
      <div class="row element-block-top">
        <div class="col-xs-6 col-md-3">
          <img src="icon"><h2>Ethereum (ETH)</h2>
          <div class="rank-block">2 Rank</div>
        </div>       
        <div class="col-xs-12 col-md-9 element-block-numbers">
          <div class="row">
            <div class="col-md-3">
              <div class="element-price-currency">USD</div>
              <div class="element-price">360.12</div>
              <div class="element-price-percent plus">(4.81%)</div>
            </div>
            <div class="col-md-3">
              <div class="element-price-title">MarketCap</div>
              <div class="element-price">33,957,881,295</div>
              <div class="element-price-percent minus">(4,81%)</div>
            </div>
            <div class="col-md-2">
              <div class="element-price-title">24 high</div>
              <div class="element-price">388,12</div>
              <div class="element-price-percent"></div>
            </div>
            <div class="col-md-2">
              <div class="element-price-title">24 low</div>
              <div class="element-price">354,03</div>
              <div class="element-price-percent"></div>
            </div>
            <div class="col-md-2">
              <div class="element-price-title">coins</div>
              <div class="element-price">101,000,012</div>
              <div class="element-price-percent"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 element-button-left"><button type="button" class="btn btn-lg btn-blue">Buy / Sell Instantly!</button></div>
        <div class="col-xs-6 element-button-right"><button type="button" class="btn btn-lg btn-white">+ Add to Portfolio</button></div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <stock-chart-example></stock-chart-example>
        </div>
        <div class="col-xs-6">
          <h4>Ethereum markets</h4>
          <table class="table table-element-page">
            <thead>
              <tr>
                <th>Exchange</th>
                <th>Pair</th>
                <th>Last Price</th>
                <th>Valume</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>

          <div class="more-button"><button type="button" class="btn btn-lg btn-more">View all</button></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Overview</h4>
          <p>Trading in Ethereum, or any other financial asset like crude oil, offers many opportunities. However, it can be difficult to navigate between brokers, spreads and sky-high management fees. That’s why managing your own investments based on price variances makes sense for many trading beginners.
Using the increasingly popular financial instrument called a CFD, or contract for difference, you can open a buy or sell position based on the current price of Ethereum in a matter of seconds.
<br>
Forex investments are particularly volatile, making this type of trading very popular for investors looking for quick results. However, most professional investors recommend diversifying between several types of instruments, in order to properly manage risk levels. At eToro, you can invest in currency, commodity, index, stock and ETF CFDs on our easy-to-use platform. If you aren’t sure of the best way to invest in a specific type of instrument, you can use our People Discovery tool to find traders who specialize in that instrument and learn from them or copy them directly.</p>
        </div>
      </div>

 